h1{
color: white;
background-color: red;
text-align: center;
width: 500px;
height: 50px;
margin: auto;
}

h2{
color: white;
background-color: blue;
text-align: left;
width: 250px;
height: 50px;
margin-right: auto;
}

h3{

color: white;
background-color: green;
text-align: right;
width: 220px;
height: 50px;
margin-left:auto;
}